@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap");

html {
  font-family: Poppins;
  height: 100%;
}

p {
  margin: 0;
  position: absolute;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.border {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

#screen {
  position: relative;
  height: 384px;
  width: 640px;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 305px;
  font-size: 23px;
  font-weight: 700;
}
#logo #heading {
  font-size: 49px;
}

#weather {
  position: absolute;
  top: 120px;
  left: 10px;
  height: 194px;
  width: 305px;
}

#schedule {
  position: absolute;
  top: 10px;
  left: 325px;
  height: 304px;
  width: 305px;
}

#timeline {
  position: absolute;
  top: 324px;
  left: 10px;
  height: 50px;
  width: 620px;
}
