html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.screen {
  height: 384px;
  width: 640px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
